service: smile-street-back-end
frameworkVersion: '2'

provider:
  name: aws
  runtime: java8
  lambdaHashingVersion: 20201221
  environment:
    DB_HOST: ${file(./config.dev.json):DB_HOST}
    DB_NAME: ${file(./config.dev.json):DB_NAME}
    DB_USER: ${file(./config.dev.json):DB_USER}
    DB_PASSWORD: ${file(./config.dev.json):DB_PASSWORD}
  region: eu-west-2
  profile: serverless

package:
  artifact: target/smile-street-dev.jar

functions:
  get-skills:
    handler: com.smilestreet.getSkillsHandler
    events:
      - http:
          path: /skill
          method: get
  save-skills:
    handler: com.smilestreet.SaveSkillsHandler
    events:
      - http:
          path: /skill1
          method: post
          cors: true
  get-volunteer:
    handler: com.smilestreet.getVolunteerHandler
    events:
      - http:
          path: /volunteer
          method: get
  save-volunteer:
    handler: com.smilestreet.SaveVolunteerHandler
    events:
      - http:
          path: /Volunteers
          method: post
          cors: true
  save-availability:
    handler: com.smilestreet.SaveVolunteerAvailabilityHandler
    events:
      - http:
          path: /VolunteerAvailability/{volunteer_id}
          method: put
          cors: true
  good_causes:
    handler: com.smilestreet.get_good_cause_handler
    events:
      - http:
          path: /good_causesaves/{good_cause_id}/good_cause
          method: get

  save-good-cause:
    handler: com.smilestreet.SaveGoodCauseHandler
    events:
      - http:
          path: /sgoodcause
          method: post
          cors: true

