service: smile-street-back-end
frameworkVersion: '2'

provider:
  name: aws
  runtime: java8
  lambdaHashingVersion: 20201221
  environment:
    DB_HOST: ${file(./config.dev.json):DB_HOST}
    DB_NAME: ${file(./config.dev.json):DB_NAME}
    DB_USER: ${file(./config.dev.json):DB_USER}
    DB_PASSWORD: ${file(./config.dev.json):DB_PASSWORD}
  region: eu-west-2
  profile: serverless

package:
  artifact: target/hello-dev.jar

functions:
  skills:
    handler: com.smilestreet.getSkillsHandler
    events:
      - http:
          path: /skill
          method: get
  get-volunteer:
    handler: com.smilestreet.getVolunteerHandler
    events:
      - http:
          path: /volunteer
          method: get
  good_causes:
    handler: com.smilestreet.get_good_cause_handler
    events:
      - http:
          path: /good_causes/{good_cause_id}/good_cause
          method: get


